<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net472" />
  <package id="Eramake.eCryptography" version="1.1.6" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net472" />
  <package id="OC.Core" version="2.0.0" targetFramework="net472" />
  <package id="OC.Core.Crypto" version="1.4.13" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net472" />
</packages>